<div id="<%= dom_id(post) %>">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= post.content %>
  </p>

  <% post.content.embeds.each do |embed| %>
    <% if embed.blob.image? %>
      <%= image_tag rails_blob_url(embed.blob) %>
    <% end %>
  <% end %>
</div>
